/* Style the tab */
.tab_btn {
  width: 200px;
  background-color: #444;
color: white;
float: left;
border: 5px;
cursor: pointer;
margin-right: 5px;
padding: 14px 4px;
font-size: 17px;
}

.tab_btn:hover {
  background-color: #000;
}

.tab_btn:focus {
  background-color: #eee;
}

.tab_bar{
  overflow: hidden;
  width: 100%;
  background-color: #fff;
}

#telephone_number {
  width: 350px;
  padding: 15px;
  font-size: 22px;
}

.txt {
  position: relative;
  float: left;
  border-radius: 25px;
  border: 16px solid #fff;
  padding: 36px;
  font-size: 30px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.dialer_fn_btn {
  position: relative;
  float: left;
  border-radius: 25px;
  border: 16px solid #fff;
  padding: 36px;
  font-size: 30px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.num_row {
min-width: 1600px;
 overflow: hidden;
}

.contact_fn_btn {
  float: left;
}
